// Add variables here
@use '../abstracts/variables' as *;

/*************** Home CSS ***************/

// Hero
.hero {
    &-section {
        padding-top: 100px;
        padding-bottom: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;

        &__content {
            text-align: center;
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            h4 {
                color:#CDCDCD!important;
                font-size: 1.5em;
                font-family: 'Inter Regular';
                margin-bottom: 0.5em;
                line-height: 1.4;
            }
            h1 {
                color: #ffffff;
                font-size: 5em;
                margin-bottom: 0.475em;
            }
            .main-btn {
                color: #ffffff;
            }
        }
    }
}

// Hot deals section


/*************** hot deals carousel section ***************/


//----------------Hot deals section----------------\\

.hot-deals {
    &__carousel {
        .owl-nav {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;

            [class*=owl] {
                position: unset;
                left: auto;
                top: auto;
            }
        }

        &--area {
            padding-left: 75px;
            position: relative;

            .owl-carousel {
                position: unset;
            }
        }

        .item {
            background-color: #ffffff;
            border: 1px solid $borderColor;
            border-radius: 8px;
            height: 100%;
        }
    }
}

.hot-deals__carousel.owl-carousel .owl-nav button {
    font-size: 30px;
    color: $secondaryColor;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
@media (max-width: 991px){
.hot-deals__carousel.owl-theme .owl-nav {
    position: unset;
    top: auto;
    left: auto;
    transform: none;
    flex-direction: row;
    justify-content: center;
}
.hot-deals__carousel--area {
    padding-left: 10px;
}
}
    

/*skwed*/
.product {
    &-info {
        &__section {
            display: flex;
            position: relative;

            @media only screen and (min-width: 992px) {
                padding-top: 100px;
                padding-bottom: 100px;
                overflow: hidden;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #f8f8f8;
                    width: calc(50% + 140px);
                    height: 100%;
                    transform: skewX(-18deg) translateX(-95px);
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #000000;
                    width: calc(50% + 100px);
                    height: 100%;
                    transform: skewX(-18deg) translateX(142px);
                }
            }

            @media only screen and (min-width: 1200px) {
                &:before {
                    transform: skewX(-18deg) translateX(-100px);
                }

                &:after {
                    transform: skewX(-18deg) translateX(100px);
                }
            }

            .container {
                position: relative;
                z-index: 11;
            }

            @media only screen and (max-width: 991px) {
                .container {
                    max-width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                }
                .product-info__item {
                    &:nth-child(1) {
                        background-color: #f8f8f8;
                    }
                    &:nth-child(2) {
                        background-color: #000000;
                    }
                }
            }

            &--left {
                
                position: relative;
                color: #000000;
                

                // .product-info__shape {
                //     position: absolute;
                //     bottom: 50px;
                //     right: 230px;
                // }

                @media only screen and (max-width: 991px) {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    max-width: 720px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: calc(var(--bs-gutter-x) * .5);
                    padding-left: calc(var(--bs-gutter-x) * .5);
                }

                @media only screen and (max-width: 767px) {
                    max-width: 540px;
                }

                @media only screen and (min-width: 992px) {
                    padding-right: 155px;
                    padding-bottom: 110px;
                    &:after {
                        content: "";
                        width: 60%;
                        height: 1px;
                        border-top: 1px dashed red;
                        left: 25px;
                        bottom: 0;
                        position: absolute;
                    }
                }

                @media only screen and (min-width: 1200px) {
                    padding-right: 246px;
                }
            }

            &--action {
                display: flex;
                @media only screen and (min-width: 992px) {
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    position: relative;
                    .product-info__shape {
                        position: absolute;
                        top: -15px;
                        right: 0;
                    }
                }
                @media only screen and (max-width: 768px) {
                    .btnn{
                        padding: 7px 20px;
                        font-size: 14px;
                    }
                }
                @media only screen and (min-width:768px) {
                    .btnn{
                        padding: 7px 20px;
                        font-size: 14px;
                    }
                }

                @media only screen and (max-width: 991px) {
                    align-items: center;
                    .btnn{
                        margin-right: 20px;
                        position: relative;
                        top: -9px;
                        background-color:#B22625; 
                        color: #fff;
                        border-radius: 5px;
                        border: none;
                    }
                    .product-info__shape {
                        width: 95px;
                        height: 95px;
                        span {
                            font-size: 14px;
                        }
                        h4 {
                            font-size: 26px;
                        }
                    }
                }
            }
            @media only screen and (min-width:992px){
                  .product-info__section--action{
                    align-items: center;
                    .btnn{
                        margin-right: 20px;
                        position: relative;
                        top: 11px;
                        background-color:#B22625; 
                        color: #fff;
                       border-radius: 5px;                       
                        font-size: 20px;
                        border-style: none;
                        padding: 9px;
                    }
                    .product-info__shape {
                        width: 95px;
                        height: 95px;
                        margin-right:25% ;                                        
                        span {
                            font-size: 14px;
                        }
                        h4 {
                            font-size: 26px;
                        }
                    }
                    

                  } 
            }
             
             
            &--right{
                position: relative;
                color: #fff;

                @media only screen and (max-width: 991px) {
                    padding-top: 50px;
                    padding-bottom: 50px;
                    max-width: 720px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-right: calc(var(--bs-gutter-x) * .5);
                    padding-left: calc(var(--bs-gutter-x) * .5);
                }
                @media only screen and (max-width: 767px) {
                    max-width: 540px;
                }
                @media only screen and (min-width: 992px) {
                    margin-left: 155px;
                    padding-bottom: 78px;
                    margin-right: 70px;
                    &:after {
                        content: "";
                        width: 95%;
                        height: 1px;
                        border-top: 1px dashed red;
                        right: 0;
                        bottom: 0;
                        position: absolute;
                    }
                }
            }
            &--action--right{
                display: flex;
                .product-info__specialOffer{
                    font-size: 20px;
                    width: 20px;
                    font-weight: 300;
                    color: white;
                   padding-left: 10px;
                   padding-top: 6px;
                    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width:65px;
                        height: 125px;
                        border: 1px solid #7e7c7c;
                        border-radius: 50px/85px;
                        transform: rotate(75deg) translate(-25px, -6px);
                        z-index: -1;
                    }
                }
                @media only screen and (min-width: 992px) {
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    position: relative;
                    .product-info__shape {
                        position: absolute;
                        top: -15px;
                        right: 0;
                        width: 95px;
                        height: 95px;
                    }
                }
                
                @media only screen and (max-width: 991px) {
                    align-items: center;
                    .product-info__specialOffer{
                        position: relative;
                        font-size: 19px;
                        font-weight: 400;
                        padding-left: 20px;
                        margin-right: 90px;
                        border-radius: 5px;
                        padding-bottom: 4px;
                        padding-top: 0;
                        top: 0px;
                        &:before {
                            top: 0;
                            left: 0;
                            width: 50px;
                            height: 95px;
                            border: 1px solid #7e7c7c;
                            border-radius: 50px/85px;
                            transform: rotate(75deg) translate(-14px, -24px);
                            z-index: 1;
                        }
                    }
                    .product-info__shape {
                        width: 95px;
                        height: 95px;
                        span {
                            font-size: 14px;
                        }
                        h4 {
                            font-size: 20px;
                        }
                    }
                }
            }
    
            
            
                
            &--content {
                h3 {
                    font-size: 38px;
                    font-weight: 500px;                  

                }

                p {
                    font-size: 22px;
                    font-weight: 400;

                }
            }

            &--camera {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-59%, -47%);
                width: 350px;
                z-index: 1;

                @media only screen and (min-width: 1200px) {
                    transform: translate(-70%, -51%);
                    width: 395px;
                }
            }
        }

        &__shape {
            width: 100px;
            height: 100px;
            border: 2px solid red;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
           
            span {
                font-size: 20px;
            }

            h4 {
                font-size: 26px;
            }
        }
    }
}
