// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Add styles here
.footer {
    &-customer {
        &__info {
            padding-top: 45px;
            padding-bottom: 20px;
            border-bottom: 1px solid #262626;
            &--item {
                flex: 0 0 auto;
                width: 33.33%;
                display: flex;
                align-items: center;
                margin-bottom: 25px;
                figure {
                    flex: 0 0 auto;
                    width: 66px;
                }
            }
            &--content {
                padding-left: 40px;
                h3 {
                    font-size: 1.5em;
                    color: $inverseColor;
                    margin-bottom: 10px;
                }
                p {
                    color: #6A6A6A;
                }
            }
        }
    }
    &-info {
        padding-top: 70px;
        padding-bottom: 70px;
        border-bottom: 1px solid  #262626;
        .pbl{
            border-right: 1px solid  #262626;
        }
        &__item {        
            h3 {
                color: $inverseColor;
                font-size: 1.25em;
            }
            &--left{
                border-right: 1px solid white;
                h3 {
                    color: $inverseColor;
                    font-size: 1.25em;
                }
            }
           &--list{
            color: $footerlist;
            margin-top: 32px;
            font-size: 0.85em;
            li{
                padding-bottom: 16px;
                .custom-input {
                    &__append {
                        padding: 6px 15px;
                        background-color:#ffffff ;
                        color:  $secondaryColor;
                        font-size: 1.5em;
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
        
                    &__field {
                        background-color: #ffffff;
                        padding: 10px;
                        &:first-child {
                            border-top-left-radius: 4px;
                            border-bottom-left-radius: 4px;
                        }
                
                        &:last-child {
                            border-top-right-radius: 4px;
                            border-bottom-right-radius: 4px;
                        }
                    }
                }
            }
            &---icons{
                color: $secondaryColor;
                font-size: 1.5em;
            }
           
        }
           
        }
    }
    &_copy{
       h4{
        color: #9B9B9B;
        text-align: center;
        padding: 16px;
        font-size: 1em;
        font-size: 0.80em;
       }
    }
}

// RESPONSIVE STARTS
@include breakpoint-max(1199px) {
    .footer {
        &-customer {
            &__info {
                &--item {
                    figure {
                        width: 50px;
                    }

                }
                &--content {
                    padding-left: 30px;
                    h3 {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}
@include breakpoint-max(991px) {
    .footer {
        &-customer {
            &__info {
                &--item {
                    width: 50%;

                }
                &--content {
                    h3 {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}
@include breakpoint-max(575px) {
    .footer {
        &-customer {
            &__info {
                &--item {
                    width: 100%;
                }
                &--content {
                    h3 {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}